@media (max-width: 1200px) {
  /* .navbar{
    width: 220px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #0096;
    z-index: 2;
    transition: 0.5s;
  } */

  .showcase .text-box{
    margin-top: 50px;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .showcase .user-box{
    display: none;
  }

  .grid,
  .menu-item{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .menu-item .menu-content img{
    width: 50%;
  }

  .flex{
    flex-direction: column;
  }
}

@media (min-width: 1079px) {

  header{
    display: none;
  }

  #navbar {
    display: flex;
  }

  #navbar ul {
    display: flex;
  }
}

@media (max-width: 1078px) {
  #showcase {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  body.show-nav {
    /* Width of nav */
    transition: 0.9s ease;
    transform: translate(210px);
  }

  #navbar {
    width: 210px;
    height: 100vh;
    position: fixed;
    background: #009688;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 200;
    /* transition: 0.5s; */
  }

  #navbar .logo a {
    display: none;
  }

  #navbar ul {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
    font-size: 1.259rem;
  }
  
  #navbar ul li {
    display: block;
    border-top: rgba(200, 200, 200, 0.5);
    padding-top: 2rem;
    /* margin-bottom: 2rem; */
  }

  .right-nav{
    display: flex;
    top: 0;
    left: 10%;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 1.2rem;
    z-index: 20;
    justify-items: right;
    padding: 1.9rem;
  }

  #navbar ul li a {
    color: #f7c08a;
    text-decoration: none;
  }

  #navbar a:hover,
  #navbar a.active {
    border-bottom: 1px #fff solid;
  }

  .toggle {
    background-color: rgba(147, 203, 82, 0.4);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.9s ease;
    height: 65px;
    width: 65px;
    border-radius: 50%;
  }

  #header {
    background-color: #002;
    color: #f7c08a;
    font-size: 130%;
    position: relative;
    padding: 40px 50px;
    align-items: center;
    text-align: center;
  }

  #header div a {
    color: #fff;
    font-size: 1.6rem;
  }

  button {
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
  }

  button:focus {
    outline: none;
  }
}

@media (max-width: 1078px) {
  .showcase {
    padding: 1rem;
  }

  .order-form{
    padding-bottom: 100px;
    transform: translateX(-40%);
  }

  .composition{
    display: none;
  }

  .map {
    display: none;
  }
  .row {
    width: 50%;
    align-items: center;
    justify-content: center;
    transform: translateX(45%);
  }

  .address{
    padding: 3rem 0;
    transform: translateX(20%);
  }
  
}

@media (max-width: 600px) {
  .showcase .text-box h1 span {
    opacity: 0.7;
    font-size: 1.5em;
    font-weight: 900;
  }

  .showcase .text-box a:nth-of-type(1) {
    margin: 1rem 0;
  }

  .order-form{
    padding-top: 20px;
    transform: translateX(5%);
    width: 250%;
  }

  .social{
    display: inline-block;
  }

  #contact{
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .btn-submit{
    padding: 2rem;
    text-align: center;
  }

  .row {
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(-5%);
  }
}
